@import url("https://fonts.googleapis.com/css?family=Nunito:200,300,400,700");
.site-navbar {
  margin-bottom: 0px;
  z-index: 1999;
  position: absolute;
  width: 100%;
  top: 2rem;
}
.site-navbar .container-fluid {
  padding-left: 7rem;
  padding-right: 7rem;
}
@media (max-width: 1199.98px) {
  .site-navbar .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.site-navbar .site-logo {
  position: absolute;
  left: 5%;
}
@media (max-width: 767.98px) {
  .site-navbar .site-logo {
    position: relative;
    left: auto;
  }
}
.site-navbar .site-logo a {
  color: #fff;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}
.site-navbar .site-logo a:hover {
  text-decoration: none;
}
.site-navbar .site-burger-menu,
.site-navbar .right-cta-menu {
  position: absolute;
  right: 5%;
}
@media (max-width: 767.98px) {
  .site-navbar .site-burger-menu,
  .site-navbar .right-cta-menu {
    position: relative;
    right: auto;
  }
}
.site-navbar .site-menu-toggle {
  color: #fff;
  line-height: 0;
  font-size: 2.5rem;
  position: relative;
}
@media (max-width: 767.98px) {
  .site-navbar .site-menu-toggle {
    margin-left: 5px;
  }
}
.site-navbar .site-navigation {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 5;
}
.site-navbar .site-navigation .site-menu {
  margin-bottom: 0;
}
.site-navbar .site-navigation .site-menu .active {
  color: #fff;
  display: inline-block;
  padding: 5px 20px;
}
.site-navbar .site-navigation .site-menu a {
  text-decoration: none !important;
  display: inline-block;
  position: relative;
}
.site-navbar .site-navigation .site-menu > li {
  display: inline-block;
}
.site-navbar .site-navigation .site-menu > li > a {
  padding: 20px 20px !important;
  color: rgba(255, 255, 255, 0.5);
  display: inline-block;
  text-decoration: none !important;
  font-weight: 600;
}
.site-navbar .site-navigation .site-menu > li > a:hover {
  color: #fff;
}
.site-navbar .site-navigation .site-menu .has-children {
  position: relative;
}
.site-navbar .site-navigation .site-menu .has-children > a {
  position: relative;
  padding-right: 20px;
}
.site-navbar .site-navigation .site-menu .has-children > a:before {
  position: absolute;
  content: "\e313";
  font-size: 16px;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: "icomoon";
}
.site-navbar .site-navigation .site-menu .has-children .dropdown {
  visibility: hidden;
  opacity: 0;
  top: 100%;
  position: absolute;
  text-align: left;
  border-top: 2px solid #1644ba;
  -webkit-box-shadow: 0 2px 20px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 20px -2px rgba(0, 0, 0, 0.2);
  padding: 0px 0;
  margin-top: 20px;
  margin-left: 0px;
  background: #fff;
  -webkit-transition: 0.2s 0s;
  -o-transition: 0.2s 0s;
  transition: 0.2s 0s;
}
.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top {
  position: absolute;
}
.site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown.arrow-top:before {
  bottom: 100%;
  left: 20%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown.arrow-top:before {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #fff;
  border-width: 10px;
  margin-left: -10px;
}
.site-navbar .site-navigation .site-menu .has-children .dropdown li {
  line-height: 1.4;
}
.site-navbar .site-navigation .site-menu .has-children .dropdown a {
  text-transform: none;
  letter-spacing: normal;
  -webkit-transition: 0s all;
  -o-transition: 0s all;
  transition: 0s all;
  color: #343a40;
}
.site-navbar .site-navigation .site-menu .has-children .dropdown a.active {
  background: #ebeef0;
  color: #1644ba;
}
.site-navbar .site-navigation .site-menu .has-children .dropdown > li {
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 200px;
}
.site-navbar .site-navigation .site-menu .has-children .dropdown > li > a {
  padding: 9px 20px;
  display: block;
}
.site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown
  > li
  > a:hover {
  background: #ebeef0;
  color: #212529;
}
.site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown
  > li.has-children
  > a:before {
  content: "\e315";
  right: 20px;
}
.site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown
  > li.has-children
  > a.active {
  background: #ebeef0;
  color: #1644ba;
}
.site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown
  > li.has-children
  > .dropdown,
.site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown
  > li.has-children
  > ul {
  left: 100%;
  top: 0;
}
.site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown
  > li.has-children:hover
  > a,
.site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown
  > li.has-children:active
  > a,
.site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown
  > li.has-children:focus
  > a {
  background: #ebeef0;
  color: #212529;
}
.site-navbar .site-navigation .site-menu .has-children:hover,
.site-navbar .site-navigation .site-menu .has-children:focus,
.site-navbar .site-navigation .site-menu .has-children:active {
  cursor: pointer;
}
.site-navbar .site-navigation .site-menu .has-children:hover > .dropdown,
.site-navbar .site-navigation .site-menu .has-children:focus > .dropdown,
.site-navbar .site-navigation .site-menu .has-children:active > .dropdown {
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  margin-top: 0px;
  visibility: visible;
  opacity: 1;
}
.site-navbar .site-navigation .site-menu.site-menu-dark > li > a {
  color: black;
  position: relative;
}
.site-navbar .site-navigation .site-menu.site-menu-dark > li > a:after {
  height: 2px;
  background: #000;
  content: "";
  position: absolute;
  bottom: 0;
  left: 20px;
  right: 20px;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.site-navbar .site-navigation .site-menu.site-menu-dark > li > a:hover,
.site-navbar .site-navigation .site-menu.site-menu-dark > li > a.active {
  color: #1644ba;
  position: relative;
}
.site-navbar .site-navigation .site-menu.site-menu-dark > li > a:hover:after,
.site-navbar .site-navigation .site-menu.site-menu-dark > li > a.active:after {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.site-mobile-menu {
  width: 300px;
  position: fixed;
  right: 0;
  z-index: 2000;
  padding-top: 20px;
  background: #fff;
  height: calc(100vh);
  -webkit-transform: translateX(110%);
  -ms-transform: translateX(110%);
  transform: translateX(110%);
  -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.2s all cubic-bezier(0.66, 0.2, 0.48, 0.9);
  -o-transition: 0.2s all cubic-bezier(0.66, 0.2, 0.48, 0.9);
  transition: 0.2s all cubic-bezier(0.66, 0.2, 0.48, 0.9);
}
.offcanvas-menu .site-mobile-menu {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}
.site-mobile-menu .site-mobile-menu-header {
  width: 100%;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
  float: right;
  margin-top: 8px;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
  font-size: 30px;
  display: inline-block;
  padding-left: 10px;
  padding-right: 0px;
  line-height: 1;
  cursor: pointer;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span:hover {
  color: #dee2e6;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
  float: left;
  margin-top: 10px;
  margin-left: 0px;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
  display: inline-block;
  text-transform: uppercase;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a img {
  max-width: 70px;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
  text-decoration: none;
}
.site-mobile-menu .site-mobile-menu-body {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  position: relative;
  padding: 0 20px 20px 20px;
  height: calc(100vh - 52px);
  padding-bottom: 150px;
}
.site-mobile-menu .site-nav-wrap {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}
.site-mobile-menu .site-nav-wrap a {
  padding: 10px 20px;
  display: block;
  position: relative;
  color: #212529;
}
.site-mobile-menu .site-nav-wrap a:hover {
  color: #1644ba;
  text-decoration: none;
}
.site-mobile-menu .site-nav-wrap li {
  position: relative;
  display: block;
}
.site-mobile-menu .site-nav-wrap li .active {
  color: #000;
}
.site-mobile-menu .site-nav-wrap .arrow-collapse {
  position: absolute;
  right: 0px;
  top: 10px;
  z-index: 20;
  width: 36px;
  height: 36px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
}
.site-mobile-menu .site-nav-wrap .arrow-collapse:hover {
  background: #f8f9fa;
}
.site-mobile-menu .site-nav-wrap .arrow-collapse:before {
  font-size: 12px;
  z-index: 20;
  font-family: "icomoon";
  content: "\f078";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-180deg);
  -ms-transform: translate(-50%, -50%) rotate(-180deg);
  transform: translate(-50%, -50%) rotate(-180deg);
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.site-mobile-menu .site-nav-wrap > li {
  display: block;
  position: relative;
  float: left;
  width: 100%;
}
.site-mobile-menu .site-nav-wrap > li > a {
  padding-left: 20px;
  font-size: 20px;
}
.site-mobile-menu .site-nav-wrap > li > ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.site-mobile-menu .site-nav-wrap > li > ul > li {
  display: block;
}
.site-mobile-menu .site-nav-wrap > li > ul > li > a {
  padding-left: 40px;
  font-size: 16px;
}
.site-mobile-menu .site-nav-wrap > li > ul > li > ul {
  padding: 0;
  margin: 0;
}
.site-mobile-menu .site-nav-wrap > li > ul > li > ul > li {
  display: block;
}
.site-mobile-menu .site-nav-wrap > li > ul > li > ul > li > a {
  font-size: 16px;
  padding-left: 60px;
}
.site-mobile-menu .site-nav-wrap[data-class="social"] {
  float: left;
  width: 100%;
  margin-top: 30px;
  padding-bottom: 5em;
}
.site-mobile-menu .site-nav-wrap[data-class="social"] > li {
  width: auto;
}
.site-mobile-menu .site-nav-wrap[data-class="social"] > li:first-child a {
  padding-left: 15px !important;
}

.sticky-wrapper {
  position: absolute;
  z-index: 100;
  width: 100%;
}
.sticky-wrapper + .site-blocks-cover {
  margin-top: 96px;
}
.sticky-wrapper .site-menu-toggle {
  color: #000;
}
@media (max-width: 991.98px) {
  .sticky-wrapper .site-menu-toggle {
    color: #fff;
  }
}
.sticky-wrapper .site-navbar {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.sticky-wrapper .site-navbar .site-menu > li {
  display: inline-block;
}
.sticky-wrapper .site-navbar .site-menu > li > a {
  position: relative;
}
.sticky-wrapper .site-navbar .site-menu > li > a:after {
  height: 2px;
  background: #fff;
  content: "";
  position: absolute;
  bottom: 0;
  left: 20px;
  right: 20px;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.sticky-wrapper .site-navbar .site-menu > li > a:hover,
.sticky-wrapper .site-navbar .site-menu > li > a.active {
  color: #fff;
  position: relative;
}
.sticky-wrapper .site-navbar .site-menu > li > a:hover:after,
.sticky-wrapper .site-navbar .site-menu > li > a.active:after {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.sticky-wrapper.is-sticky .site-menu-toggle {
  color: #000;
}
.sticky-wrapper.is-sticky .site-navbar {
  -webkit-box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.2);
  background: #fff;
}
.sticky-wrapper.is-sticky .site-navbar .site-logo a {
  color: #000;
}
.sticky-wrapper.is-sticky .site-navbar .site-menu > li {
  display: inline-block;
}
.sticky-wrapper.is-sticky .site-navbar .site-menu > li > a {
  position: relative;
  color: #000;
}
.sticky-wrapper.is-sticky .site-navbar .site-menu > li > a:after {
  height: 2px;
  background: #1644ba;
  content: "";
  position: absolute;
  bottom: 0;
  left: 20px;
  right: 20px;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.sticky-wrapper.is-sticky .site-navbar .site-menu > li > a:hover,
.sticky-wrapper.is-sticky .site-navbar .site-menu > li > a.active {
  color: #1644ba;
  position: relative;
}
.sticky-wrapper.is-sticky .site-navbar .site-menu > li > a:hover:after,
.sticky-wrapper.is-sticky .site-navbar .site-menu > li > a.active:after {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.sticky-wrapper .shrink {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

body {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.7;
  position: relative;
}
body:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
body.offcanvas-menu {
  position: relative;
}
body.offcanvas-menu:after {
  opacity: 0;
  visibility: hidden;
}

h1,
h2,
h3,
h4 {
  color: #000;
}

.site-section {
  padding-top: 7rem;
  padding-bottom: 7rem;
  position: relative;
  z-index: 2;
}
@media (max-width: 991.98px) {
  .site-section {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.text-black {
  color: #000 !important;
}

.home-section {
  position: relative;
}
.home-section > .container {
  z-index: 2;
  position: relative;
}
.home-section h1 {
  font-size: 3rem;
  color: #fff;
  font-weight: 200;
}
@media (max-width: 991.98px) {
  .home-section h1 {
    font-size: 2rem;
  }
}
.home-section p {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.6);
}
.home-section .search-jobs-form .form-control,
.home-section .search-jobs-form .btn-lg {
  height: calc(2em + 1rem + 2px);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}
.home-section .search-jobs-form .btn-search > span {
  font-size: 1rem;
  position: relative;
}
.home-section .search-jobs-form .dropdown-menu {
  position: relative;
  z-index: 4;
  -webkit-box-shadow: 0 5px 50px -10px rgba(0, 0, 0, 0.4);
  box-shadow: 0 5px 50px -10px rgba(0, 0, 0, 0.4);
}
.home-section .search-jobs-form .filter-option:after {
  border: none;
  display: inline-block;
  position: absolute;
  content: "\e313";
  font-size: 16px;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: "icomoon";
}
.home-section .search-jobs-form .filter-option.dropup {
  border: 1px solid red !important;
}
.home-section .search-jobs-form .filter-option.dropup:after {
  display: none;
}
.home-section .search-jobs-form .dropup .dropdown-toggle:after,
.home-section .search-jobs-form .dropup .filter-option:after {
  border: none;
  display: inline-block;
  position: absolute;
  content: "\e313";
  font-size: 16px;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: "icomoon";
  -webkit-transform: rotate(180deg) translateY(50%);
  -ms-transform: rotate(180deg) translateY(50%);
  transform: rotate(180deg) translateY(50%);
}
.home-section .search-jobs-form .dropup .filter-option:after {
  display: none !important;
}
.home-section .search-jobs-form .btn-white {
  background: #fff;
  color: #343a40;
}
.home-section .search-jobs-form .btn-white:hover,
.home-section .search-jobs-form .btn-white:active,
.home-section .search-jobs-form .btn-white:focus {
  outline: none !important;
}
.home-section .search-jobs-form .form-control {
  background: #fff;
  border: transparent !important;
  color: #343a40;
}
.home-section .search-jobs-form .form-control:active,
.home-section .search-jobs-form .form-control:focus {
  color: #343a40;
}
.home-section .search-jobs-form .form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(52, 58, 64, 0.5);
}
.home-section .search-jobs-form .form-control::-moz-placeholder {
  color: rgba(52, 58, 64, 0.5);
}
.home-section .search-jobs-form .form-control:-ms-input-placeholder {
  color: rgba(52, 58, 64, 0.5);
}
.home-section .search-jobs-form .form-control:-moz-placeholder {
  color: rgba(52, 58, 64, 0.5);
}
.home-section .search-jobs-form .bs-searchbox .form-control {
  height: calc(1em + 1rem + 2px);
  padding: 0.5rem 0.5rem;
  margin-bottom: 0.3rem;
  color: #343a40;
  background: #fff;
  border: 1px solid #eee !important;
}
.home-section .search-jobs-form .dropdown-item.active {
  -webkit-box-shadow: 0 4px 20px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 0 4px 20px -5px rgba(0, 0, 0, 0.4);
}
.home-section .scroll-button {
  position: absolute;
  z-index: 2;
  bottom: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #fff;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
}
.home-section .scroll-button > span {
  color: #000;
  position: absolute;
  font-size: 2rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.bg-image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.bg-image.fixed {
  background-attachment: fixed;
}
.bg-image.overlay-primary {
  position: relative;
}
.bg-image.overlay-primary:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(22, 68, 186, 0.9);
  z-index: 1;
}
.bg-image.overlay-primary > .container {
  position: relative;
  z-index: 2;
}
.bg-image.overlay-blue {
  position: relative;
}
.bg-image.overlay-blue:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(22, 68, 186, 0.9);
  z-index: 1;
}
.bg-image.overlay-blue > .container {
  position: relative;
  z-index: 2;
}

.form-group .filter-option:after {
  border: none !important;
  display: inline-block;
  position: absolute;
  content: "\e313";
  font-size: 16px;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: "icomoon";
}

.form-group .filter-option.dropup {
  border: 1px solid red !important;
}
.form-group .filter-option.dropup:after {
  display: none;
}

.form-group .dropup .dropdown-toggle:after {
  border: none;
  display: inline-block;
  position: absolute;
  content: "\e313";
  font-size: 16px;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: "icomoon";
  -webkit-transform: rotate(180deg) translateY(50%);
  -ms-transform: rotate(180deg) translateY(50%);
  transform: rotate(180deg) translateY(50%);
}

.form-group .dropup .filter-option:after {
  display: none;
}

.form-group .dropdown-item.active {
  -webkit-box-shadow: 0 4px 20px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 0 4px 20px -5px rgba(0, 0, 0, 0.4);
}

.form-group label {
  color: #000;
}

.editor {
  height: 375px;
}

.logo-1 {
  max-width: 200px;
}
@media (max-width: 767.98px) {
  .logo-1 {
    max-width: 150px;
  }
}

.logo-2 {
  max-width: 150px;
}
@media (max-width: 767.98px) {
  .logo-2 {
    max-width: 100px;
  }
}

.logo-3 {
  max-width: 120px;
}
@media (max-width: 767.98px) {
  .logo-3 {
    max-width: 75px;
  }
}

.logo-4 {
  max-width: 100px;
}
@media (max-width: 767.98px) {
  .logo-4 {
    max-width: 75px;
  }
}

.logo-5 {
  max-width: 50px;
}
@media (max-width: 767.98px) {
  .logo-5 {
    max-width: 50px;
  }
}

.logo-6 {
  max-width: 150px;
}
@media (max-width: 767.98px) {
  .logo-6 {
    max-width: 150px;
  }
}

.logo-7 {
  max-width: 180px;
}
@media (max-width: 767.98px) {
  .logo-7 {
    max-width: 150px;
  }
}

.logo-8 {
  max-width: 90px;
}
@media (max-width: 767.98px) {
  .logo-8 {
    max-width: 90px;
  }
}

.testimony-full {
  text-align: center;
  padding: 8rem 0 !important;
  position: relative;
}
.testimony-full img {
  width: 100px !important;
  border-radius: 50%;
  margin-bottom: 30px;
}
.testimony-full blockquote {
  font-size: 1.3rem;
  font-style: italic;
  font-weight: 300;
  line-height: 1.7;
}
.testimony-full blockquote cite {
  font-size: 1.2rem;
  color: #000;
}
.testimony-full .owl-dots {
  bottom: -4rem !important;
}

/* Job Listings */
.job-listings {
  padding: 0;
  margin: 0;
  border: 1px solid #eee;
  border-radius: 7px;
  overflow: hidden;
  position: relative;
  background: #fff;
}
.job-listings .badge {
  color: #fff;
  padding: 4px 10px;
}
.badge {
  line-height: 1.3;
  white-space: unset !important;
  text-align: left;
}
@media (max-width: 991.98px) {
  .job-listings .custom-width {
    width: 100% !important;
  }
}
.job-listings .job-listing {
  position: relative;
  border-bottom: 1px solid #eee;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.job-listings .job-listing:last-child {
  border-bottom: none;
}
.job-listings .job-listing a {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.job-listings .job-listing a:hover {
  border-left: 7px solid #1644ba;
}
.job-listings .job-listing .job-listing-logo {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 150px;
  flex: 0 0 150px;
  border-right: 1px solid #eee;
}
@media (max-width: 575.98px) {
  .job-listings .job-listing .job-listing-logo {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }
}
.job-listings .job-listing-position h2 {
  font-size: 1.2rem;
  margin-bottom: 0;
}
.job-listings .job-listing-position strong {
  color: #b3b3b3;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.custom-breadcrumbs a {
  color: #1644ba;
}
.custom-breadcrumbs a:hover {
  color: #fff;
}

.custom-breadcrumbs .slash {
  color: rgba(255, 255, 255, 0.4);
}

.spepcial_link {
  position: relative;
  text-decoration: none !important;
  color: #000;
}
.spepcial_link:before {
  position: absolute;
  z-index: -1;
  background: #fff568;
  content: "";
  width: 100%;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  left: 0;
  bottom: 0;
  top: 50%;
  width: 0;
}
.spepcial_link:hover {
  color: #000;
}
.spepcial_link:hover:before {
  width: 100%;
}

.img-overlap {
  position: relative;
}
.img-overlap .img-1,
.img-overlap .img-2 {
  position: absolute;
  padding: 4%;
  max-width: 300px;
}
@media (max-width: 991.98px) {
  .img-overlap .img-1,
  .img-overlap .img-2 {
    padding: 10%;
    max-width: 400px;
    position: relative;
  }
}
.img-overlap .img-1 {
  top: 0;
}
.img-overlap .img-2 {
  bottom: -20%;
  right: -10%;
}
@media (max-width: 991.98px) {
  .img-overlap .img-2 {
    bottom: 30%;
  }
}

.img-shadow {
  border-radius: 7px;
  -webkit-box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.4);
}

.text-muted {
  color: #d5d5d5 !important;
}

.section-title {
  font-size: 2rem;
  font-weight: 700;
}

.section-title-sub {
  font-size: 1rem;
  color: #ced4da;
}

.section-hero,
.section-hero > .container > .row {
  height: 100vh;
  min-height: 900px;
}

.section-hero.inner-page,
.section-hero.inner-page > .container > .row {
  height: auto;
  min-height: auto;
  padding-top: 6em;
  padding-bottom: 3em;
}

.section-hero.overlay,
.section-hero.overlay-2 {
  position: relative;
}
.section-hero.overlay:before,
.section-hero.overlay-2:before {
  z-index: 1;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.section-hero.overlay-2:before {
  background: rgba(125, 131, 132, 0.95);
}

.section-hero > .container {
  z-index: 2;
  position: relative;
}

.video-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}
.video-container video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.popular-keywords h3 {
  font-size: 1.2rem;
  display: inline-block;
  color: #fff;
  margin-right: 0.5rem;
}

.popular-keywords .keywords {
  display: inline-block;
}
.popular-keywords .keywords li {
  display: inline-block;
}
.popular-keywords .keywords li a {
  border-radius: 5px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid #fff;
  color: #fff;
  padding: 0.2rem 0.7rem;
  font-size: 0.7rem;
  font-weight: 700;
  text-decoration: none;
}
.popular-keywords .keywords li a:hover {
  background: #fff;
  color: #1644ba;
}

.btn:after,
.btn:before {
  display: none;
}

.btn:hover,
.btn:focus,
.btn:active {
  outline: none;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.btn.btn-primary {
  color: #fff;
}
.btn.btn-primary:hover {
  background: #1747c3;
  border-color: #1747c3;
}

.btn.btn-outline-white {
  background: transparent;
  border-width: 2px;
  border-color: #fff;
  color: #fff;
}
.btn.btn-outline-white:hover {
  background: #fff;
  color: #000;
}

.btn.btn-outline-primary {
  color: #1644ba;
}
.btn.btn-outline-primary:hover {
  color: #fff;
  background: #1644ba;
}

.custom-pagination a {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid #dee2e6;
  text-align: center;
  margin: 0 5px;
  text-decoration: none;
}
.custom-pagination a.prev,
.custom-pagination a.next {
  width: auto;
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 4px;
}
.custom-pagination a.active,
.custom-pagination a:hover {
  background: #1644ba;
  color: #fff;
  border-color: #1644ba;
}

.border-width-2 {
  border-width: 2px !important;
}

.btn-md {
  padding: 12px 20px;
}

.slanted:after,
.slanted-gray:after {
  content: "";
  background: #fff;
  height: 200px;
  -webkit-transform: skewY(-5deg);
  -ms-transform: skewY(-5deg);
  transform: skewY(-5deg);
  position: absolute;
  left: 0;
  bottom: -100px;
  right: 0;
  z-index: 1;
}

.slanted-gray:after {
  background: #f8f9fa !important;
}

.block__19738 {
  text-align: center;
}
.block__19738 [class^="icon-"],
.block__19738 [class^="flaticon-"] {
  font-size: 2.5rem;
}
.block__19738 .number {
  font-size: 3.2rem;
  font-weight: 900;
  color: #fff;
}
.block__19738 .caption {
  font-size: 1rem;
  display: block;
  color: rgba(255, 255, 255, 0.7);
}

.block__62849 .block__16443 {
  background: #fff;
  padding: 30px;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  top: 0;
  position: relative;
  text-decoration: none;
}
.block__62849 .block__16443 .custom-icon {
  display: block;
  position: relative;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid #1644ba;
  background: #1644ba;
  margin-bottom: 1.5rem;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.block__62849 .block__16443 .custom-icon:before {
  display: none;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  content: "";
  width: 90px;
  height: 90px;
  border: 1px solid rgba(22, 68, 186, 0.2);
}
.block__62849 .block__16443 [class^="icon-"],
.block__62849 .block__16443 [class^="flaticon-"] {
  font-size: 1.6rem;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: 0.3s all cubic-bezier(0.66, 0.2, 0.48, 0.9);
  -o-transition: 0.3s all cubic-bezier(0.66, 0.2, 0.48, 0.9);
  transition: 0.3s all cubic-bezier(0.66, 0.2, 0.48, 0.9);
}
.block__62849 .block__16443 h3 {
  font-size: 1.2rem;
  margin-bottom: 1.2rem;
}
.block__62849 .block__16443 p {
  color: #7f848c;
}
.block__62849 .block__16443:hover {
  top: -20px;
  -webkit-box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.2);
}
@media (max-width: 991.98px) {
  .block__62849 .block__16443:hover {
    top: 0;
  }
}
.block__62849 .block__16443:hover .custom-icon {
  background: transparent;
}
.block__62849 .block__16443:hover .custom-icon [class^="icon-"],
.block__62849 .block__16443:hover .custom-icon [class^="flaticon-"] {
  color: #1644ba;
}

.block__87154 {
  position: relative;
  background: #f8f9fa;
  padding: 30px;
  margin-bottom: 2rem;
  border-radius: 7px;
}
.block__87154.bg-primary {
  -webkit-box-shadow: 0 5px 30px -5px rgba(22, 68, 186, 0.8);
  box-shadow: 0 5px 30px -5px rgba(22, 68, 186, 0.8);
}
.block__87154.bg-primary p {
  font-size: 1.5rem;
  font-weight: 300;
  font-style: italic;
}
.block__87154 *:last-child {
  margin-bottom: 0;
}
.block__87154 .quote {
  position: absolute;
  -webkit-transform: translateY(-150%);
  -ms-transform: translateY(-150%);
  transform: translateY(-150%);
}
.block__87154 blockquote {
  margin-bottom: 1.6rem;
}
.block__87154 blockquote p {
  font-size: 1.2rem;
}
.block__87154 .block__91147 figure {
  margin-bottom: 0;
}
.block__87154 .block__91147 img {
  max-width: 40px;
  border-radius: 50%;
  margin: 0px;
  padding: 0;
}
.block__87154 .block__91147 h3 {
  margin: 0px;
  padding: 0;
  font-size: 1rem;
}
.block__87154 .position {
  font-size: 0.8rem;
  color: #adb5bd;
}
.block__87154 .position.position-2 {
  color: rgba(255, 255, 255, 0.6);
}

.block__96788 {
  position: relative;
  display: block;
}
.block__96788 .play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #fff;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.block__96788 .play-icon span {
  font-size: 0.8rem;
  color: #000;
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.block__86547 {
  position: relative;
  background: #f8f9fa;
  overflow: hidden;
  border-radius: 4px;
  -webkit-transition: 0.2s all cubic-bezier(0.66, 0.2, 0.48, 0.9);
  -o-transition: 0.2s all cubic-bezier(0.66, 0.2, 0.48, 0.9);
  transition: 0.2s all cubic-bezier(0.66, 0.2, 0.48, 0.9);
  top: 0;
}
.block__86547 figure {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 180px;
  flex: 0 0 180px;
  margin-bottom: 0;
  background-size: cover;
  background-position: center center;
}
@media (max-width: 1199.98px) {
  .block__86547 figure {
    height: 200px;
  }
}
.block__86547 > div {
  padding: 40px;
}
.block__86547 > div h3 {
  font-size: 1.4rem;
}
.block__86547 > div h3 a {
  color: #000;
}
.block__86547 > div h3 a:hover {
  text-decoration: none;
}
.block__86547 > div .block__27192 > a {
  font-size: 0.9rem;
  display: inline-block;
  margin: 10px 20px;
  margin-left: 0;
  color: #495057;
}
.block__86547 > div .block__27192 > a span {
  color: #adb5bd;
}
.block__86547 > div .block__27192 > a:hover {
  text-decoration: none;
}
.block__86547:hover {
  top: -10px;
  background: #fff;
  -webkit-box-shadow: 0 5px 20px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 20px -2px rgba(0, 0, 0, 0.2);
}

.block__45439 {
  padding: 7em 0;
}

.block__69944 .text-muted {
  color: #ced4da !important;
}

.block__76208 .accordion-item .heading {
  font-size: 16px;
  font-weight: 400;
  padding: 10px 0;
}
.block__76208 .accordion-item .heading > a {
  padding-left: 35px;
  position: relative;
  color: #000;
}
.block__76208 .accordion-item .heading > a:before {
  content: "";
  width: 20px;
  height: 20px;
  line-height: 18px;
  border: 1px solid #ccc;
  text-align: center;
  font-size: 18px;
  top: 0.1em;
  left: 0;
  border-radius: 50%;
}
.block__76208 .accordion-item .heading > a[aria-expanded="true"]:before {
  font-family: "icomoon";
  position: absolute;
  content: "\e316";
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  background: #1644ba;
  color: #fff;
  border: 1px solid #1644ba;
}
.block__76208 .accordion-item .heading > a[aria-expanded="false"]:before {
  content: "\e313";
  color: #ccc;
  font-family: "icomoon";
  position: absolute;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.block__76208 .accordion-item .body-text {
  font-size: 16px;
  padding: 5px 0;
  padding-left: 30px;
}

.item {
  border: none;
  margin-bottom: 30px;
  border-radius: 4px;
}
.item a {
  display: block;
  overflow: hidden;
  position: relative;
  border-radius: 4px;
}
.item a img {
  position: relative;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}
.item .item-wrap {
  display: block;
  position: relative;
}
.item .item-wrap:after {
  z-index: 2;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}
.item .item-wrap > span {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  -webkit-transform: translate(-50%, -50%) scale(0);
  -ms-transform: translate(-50%, -50%) scale(0);
  transform: translate(-50%, -50%) scale(0);
  color: #fff;
  font-size: 1.7rem;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.item .item-wrap:hover:after {
  opacity: 1;
  visibility: visible;
}
.item .item-wrap:hover span {
  margin-top: 0px;
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
}
.item:hover a img {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.site-menu-toggle:hover {
  text-decoration: none;
}

.site-footer {
  padding: 7rem 0;
  position: relative;
  background: #242424;
}
@media (max-width: 991.98px) {
  .site-footer {
    padding: 2rem 0;
  }
}
.site-footer.slanted-footer:before {
  content: "";
  background: #001f42;
  height: 200px;
  -webkit-transform: skewY(-5deg);
  -ms-transform: skewY(-5deg);
  transform: skewY(-5deg);
  position: absolute;
  left: 0;
  top: -100px;
  right: 0;
  z-index: -1;
}
.site-footer h3 {
  font-size: 1rem;
  margin-bottom: 1.5rem;
  color: #fff;
}
.site-footer a {
  color: rgba(255, 255, 255, 0.5);
}
.site-footer a:hover {
  color: #fff;
}
.site-footer ul li {
  margin-bottom: 0.5rem;
}
.site-footer ul li a {
  color: rgba(255, 255, 255, 0.5);
}
.site-footer ul li a:hover {
  color: #fff;
}
.site-footer .scroll-top {
  position: absolute;
  z-index: 5;
  top: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #fff;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.1);
}
.site-footer .scroll-top > span {
  position: absolute;
  font-size: 2rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #000 !important;
}

.copyright {
  color: rgba(255, 255, 255, 0.5);
}
.copyright a {
  color: #fff;
}

.footer-social a,
.social a {
  display: inline-block;
  width: 40px;
  height: 40px;
  position: relative;
  background: #1644ba;
  border-radius: 50%;
  text-decoration: none !important;
}
.footer-social a > span,
.social a > span {
  position: absolute;
  left: 50%;
  top: 50%;
  color: #fff;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.footer-social a:hover,
.social a:hover {
  background: #fff;
}
.footer-social a:hover span,
.social a:hover span {
  color: #1644ba;
}

.social a:hover {
  background: #343a40;
}
.social a:hover span {
  color: #fff;
}

.filters .btn {
  border-color: transparent;
  font-size: 0.8rem;
  margin: 5px;
  background: rgba(52, 58, 64, 0.05);
  color: #343a40;
  text-transform: uppercase;
}
.filters .btn:hover,
.filters .btn:focus,
.filters .btn:active {
  border-color: transparent !important;
  background: rgba(52, 58, 64, 0.3) !important;
  color: #000;
}
.filters .btn.active {
  background: #000 !important;
  color: #fff;
  border-color: #000 !important;
}

/* Isotope Transitions
------------------------------- */
.isotope,
.isotope .item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}

.isotope .item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: top, left, opacity;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  -o-transition-property: transform, opacity;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
}

/* responsive media queries */
/* Mouse scroll effect */
.mouse {
  position: absolute;
  bottom: 40px;
  z-index: 5;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  display: block;
}
.mouse .mouse-icon {
  display: block;
  width: 25px;
  height: 45px;
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 15px;
  cursor: pointer;
  position: relative;
  text-align: center;
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}
.mouse .mouse-wheel {
  height: 4px;
  margin: 2px auto 0;
  display: block;
  width: 4px;
  background-color: white;
  border-radius: 50%;
  -webkit-animation: 1.6s ease infinite wheel-up-down;
  -moz-animation: 1.6s ease infinite wheel-up-down;
  animation: 1.6s ease infinite wheel-up-down;
}
.mouse:hover .mouse-icon {
  border-color: #fff;
}

@-webkit-keyframes wheel-up-down {
  0% {
    margin-top: 2px;
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    margin-top: 20px;
    opacity: 0;
  }
}

@-moz-keyframes wheel-up-down {
  0% {
    margin-top: 2px;
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    margin-top: 20px;
    opacity: 0;
  }
}

@keyframes wheel-up-down {
  0% {
    margin-top: 2px;
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    margin-top: 20px;
    opacity: 0;
  }
}

.jm-sticky-top {
  position: -webkit-sticky;
  position: sticky;
  top: 2em;
}

.ul-check {
  margin-bottom: 50px;
}
.ul-check li {
  position: relative;
  padding-left: 35px;
  margin-bottom: 15px;
  line-height: 1.5;
}
.ul-check li:before {
  left: 0;
  font-size: 20px;
  top: -0.3rem;
  font-family: "icomoon";
  content: "\e5ca";
  position: absolute;
}
.ul-check.white li:before {
  color: #fff;
}
.ul-check.success li:before {
  color: #28a745;
}
.ul-check.primary li:before {
  color: #1644ba;
}

.block__18514 .block__47528 li {
  margin-bottom: 10px;
}
.block__18514 .block__47528 li span {
  font-weight: 700;
  color: #000;
}
.block__18514 .block__47528 li a {
  display: block;
}

.sidebar-box {
  margin-bottom: 30px;
  padding: 25px;
  font-size: 15px;
  width: 100%;
  float: left;
  background: #fff;
}
.sidebar-box *:last-child {
  margin-bottom: 0;
}
.sidebar-box h3 {
  font-size: 18px;
  margin-bottom: 15px;
}

.categories li,
.sidelink li {
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #dee2e6;
  list-style: none;
}
.categories li:last-child,
.sidelink li:last-child {
  margin-bottom: 0;
  border-bottom: none;
  padding-bottom: 0;
}
.categories li a,
.sidelink li a {
  display: block;
}
.categories li a span,
.sidelink li a span {
  position: absolute;
  right: 0;
  top: 0;
  color: #ccc;
}
.categories li.active a,
.sidelink li.active a {
  color: #000;
  font-style: italic;
}

.form-control:hover,
.form-control:active,
.form-control:focus {
  outline: none;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.form-control:active,
.form-control:focus {
  border-color: #1644ba !important;
}

.comment-form-wrap {
  clear: both;
}

.comment-list {
  padding: 0;
  margin: 0;
}
.comment-list .children {
  padding: 50px 0 0 40px;
  margin: 0;
  float: left;
  width: 100%;
}
.comment-list li {
  padding: 0;
  margin: 0 0 30px 0;
  float: left;
  width: 100%;
  clear: both;
  list-style: none;
}
.comment-list li .vcard {
  width: 80px;
  float: left;
}
.comment-list li .vcard img {
  width: 50px;
  border-radius: 50%;
}
.comment-list li .comment-body {
  float: right;
  width: calc(100% - 80px);
}
.comment-list li .comment-body h3 {
  font-size: 20px;
}
.comment-list li .comment-body .meta {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 0.1em;
  color: #ccc;
}
.comment-list li .comment-body .reply {
  padding: 5px 10px;
  background: #e6e6e6;
  color: #000;
  text-transform: uppercase;
  font-size: 14px;
}
.comment-list li .comment-body .reply:hover {
  color: #000;
  background: #e3e3e3;
}

.search-form {
  background: #f7f7f7;
}
.search-form .form-group {
  position: relative;
}
.search-form .icon {
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.post-meta {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.post-meta a {
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.single-carousel .owl-dots {
  text-align: center;
  position: absolute;
  bottom: 50px;
  width: 100%;
}
.single-carousel .owl-dots .owl-dot {
  display: inline-block;
  margin: 0;
  outline: none !important;
}
.single-carousel .owl-dots .owl-dot > span {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.2);
  margin: 5px;
}
.single-carousel .owl-dots .owl-dot.active > span {
  background: #1644ba;
}

.single-carousel img {
  max-width: 400px;
  margin-left: auto;
}
@media (max-width: 991.98px) {
  .single-carousel img {
    margin-left: auto;
    margin-right: auto;
  }
}

.job-item h2,
.job-item h3 {
  font-size: 1.2rem;
  margin-bottom: 0;
}

.job-item .meta {
  color: #b5b5b5;
}
.job-item .meta strong {
  color: #3c3c3c;
}

/* button apply  */
.btn-apply {
  width: 150px;
  height: 38px;
  padding: 0 30px;
  color: #ffffff;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  font-weight: bold;
  -o-transition: background-color 0.25s ease-in;
  transition: background-color 0.25s ease-in;
}
.btn--apply {
  background: #d1380a;
}

.btn--info {
  background: #1644ba;
}

.btn--apply:hover,
.btn--info:hover {
  opacity: 0.8;
}

.password-special:disabled {
  background: #fff;
  border: none;
  min-width: 50px;
  max-width: 250px;
  width: 50px;
  text-align: center;
  font-size: 20px;
}

/* login  */
#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: max-content;
  border: 1px solid #9c9c9c;
  background-color: #eaeaea;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
  padding-bottom: 1rem;
}
.login-form {
  margin: 0;
  padding: 0;
  background-color: #1644ba;
}
#login-row {
  padding-bottom: 7rem;
}

/* background  full */
.full-background {
  width: 100%;
  height: 100vh;
  color: black;
  font-weight: bold;
  animation: myanimation 8s infinite;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99922;
  position: relative;
}
.full-background .col-md-6 {
  max-width: 500px;
  width: 250px;
}
@keyframes myanimation {
  0% {
    background-image: linear-gradient(to right, #93278f, #00a99d);
  }
  25% {
    background-image: linear-gradient(to right, #2e3192, #1bffff);
  }
  50% {
    background-image: linear-gradient(to right, #d585ff, #00ffee);
  }
  75% {
    background-image: linear-gradient(to right, #4f00bc, #29abe2);
  }
  100% {
    background-image: linear-gradient(to right, #93278f, #00a99d);
  }
}

/* profil page  */

.emp-profile {
  padding: 3%;
  margin-top: 3%;
  margin-bottom: 3%;
  border-radius: 0.5rem;
  background: #fff;
}
.profile-img {
  text-align: center;
}
.profile-img img {
  width: 50%;
  height: 100%;
}
.profile-img .btn--info {
  z-index: 999999999;
  position: relative;
}
.profile-img .file {
  position: relative;
  overflow: hidden;
  margin-top: -20%;
  width: 51%;
  border: none;
  border-radius: 0;
  font-size: 15px;
  background: #212529b8;
}
.profile-img .file input {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
}
.profile-head h5 {
  color: #333;
}
.profile-head h6 {
  color: #0062cc;
}
.profile-edit-btn {
  border: none;
  border-radius: 1.5rem;
  width: 70%;
  padding: 2%;
  font-weight: 600;
  color: #6c757d;
  cursor: pointer;
}
.proile-rating {
  font-size: 12px;
  color: #818182;
  margin-top: 5%;
}
.proile-rating span {
  color: #495057;
  font-size: 15px;
  font-weight: 600;
}
.profile-head .nav-tabs {
  margin-bottom: 5%;
}
.profile-head .nav-tabs .nav-link {
  font-weight: 600;
  border: none;
}
.profile-head .nav-tabs .nav-link.active {
  border: none;
  border-bottom: 2px solid #0062cc;
}
.profile-work {
  padding: 14%;
  margin-top: -15%;
}
.profile-work p {
  font-size: 12px;
  color: #818182;
  font-weight: 600;
  margin-top: 10%;
}
.profile-work a {
  text-decoration: none;
  color: #495057;
  font-weight: 600;
  font-size: 14px;
}
.profile-work ul {
  list-style: none;
}
.profile-tab label {
  font-weight: 600;
}
.profile-tab p {
  font-weight: 600;
  color: #0062cc;
}

.bossne {
  font-weight: bold;
  border-radius: 100%;
  position: absolute;
  justify-content: center;
  align-items: center;
  right: 82%;
  top: 4%;
  color: #0062cc;
}

.containerHomeSection {
  padding: 0 150px;
}
@media (max-width: 991px) {
  .containerHomeSection {
    padding: 0 100px;
  }
}
@media (max-width: 768px) {
  .containerHomeSection {
    padding: 0 70px;
  }

  .profile-work {
    display: none;
  }
}
@media (max-width: 600px) {
  .containerHomeSection {
    padding: 0;
  }

  .mobile-none {
    display: none !important;
  }

  .img-fluid {
    display: block;
    margin: 0 auto;
    max-width: 40%;
  }

  .img-description {
    display: none;
  }

  h2 {
    font-size: 23px;
  }
}

@media (max-width: 768px) {
  .info-company-description {
    flex: unset;
  }
}

.upload-file {
  z-index: 9999999999;
  height: 60px;
}
.img-description {
  width: 200px;
}

/* back to top  */
/* .btn-backtop{
  border-radius: 2px;
  padding: 5px;
  background-color: #0062cc;
} */
.fas {
  font-size: 35px;
  color: #0062cc;
  cursor: pointer;
}
.log-group span a {
  color: rgba(255, 255, 255, 0.5);
  font-weight: bold;
}
.site-navbar .site-navigation .log-group a:hover {
  color: #fff;
  text-decoration: underline !important;
}
.job-posted {
  text-decoration: none !important;
}

/* .set input-special */
.input-special {
  background-color: unset;
  border: none;
  border-bottom: 1px solid #1890ff !important;
  color: #fff;
  outline: none;
}
.input-special[placeholder]:focus::-webkit-input-placeholder {
  transition: text-indent 0.4s 0.4s ease;
  text-indent: -100%;
  opacity: 1;
}
.input-special:focus {
  background-color: unset;
  color: #fff;
  border-bottom: 1px solid #42617e !important;
}
